extends "res://addons/gd-plug/plug.gd"

func _plugging():
	plug("nathanhoad/godot_dialogue_manager")
	plug("imjp94/gd-plug-ui")
	plug("KoBeWi/Godot-Universal-Fade")
	plug("ramokz/phantom-camera")
	plug("AlecSouthward/switch-manager")
